/node_modules
/public/hot
/public/storage
/public/libs/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/bootstrap/cache/config.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/routes.php
