._loaderOverlay {
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2001;
}

._loaderContainer {
  z-index: 2000;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._loaderContainer .logo {
  width: 17rem;
  height: 17rem;
  margin-bottom: 3rem;
}

._loaderContainer ._loaderContent {
  z-index: 2002;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._loaderContainer.hidden {
  display: none;
}

._loader {
  text-align: center;
  vertical-align: middle;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
}

._loader span {
  display: block;
  width: 20px;
  height: 20px;
  background: #eee;
  border-radius: 50%;
  margin: 0 5px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background: #28a6de;
}

._loader span:not(:last-child) {
  -webkit-animation: loaderAnimate 1.5s linear infinite;
          animation: loaderAnimate 1.5s linear infinite;
}

@-webkit-keyframes loaderAnimate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

@keyframes loaderAnimate {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
}

._loader span:last-child {
  -webkit-animation: loaderJump 1.5s ease-in-out infinite;
          animation: loaderJump 1.5s ease-in-out infinite;
}

@-webkit-keyframes loaderJump {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, 10px);
            transform: translate(20px, 10px);
  }
  30% {
    -webkit-transform: translate(30px, -50px);
            transform: translate(30px, -50px);
  }
  70% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
  }
  80% {
    -webkit-transform: translate(-140px, 10px);
            transform: translate(-140px, 10px);
  }
  90% {
    -webkit-transform: translate(-130px, -10px);
            transform: translate(-130px, -10px);
  }
  100% {
    -webkit-transform: translate(-120px, 0);
            transform: translate(-120px, 0);
  }
}

@keyframes loaderJump {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  20% {
    -webkit-transform: translate(20px, 10px);
            transform: translate(20px, 10px);
  }
  30% {
    -webkit-transform: translate(30px, -50px);
            transform: translate(30px, -50px);
  }
  70% {
    -webkit-transform: translate(-150px, -50px);
            transform: translate(-150px, -50px);
  }
  80% {
    -webkit-transform: translate(-140px, 10px);
            transform: translate(-140px, 10px);
  }
  90% {
    -webkit-transform: translate(-130px, -10px);
            transform: translate(-130px, -10px);
  }
  100% {
    -webkit-transform: translate(-120px, 0);
            transform: translate(-120px, 0);
  }
}
/*# sourceMappingURL=Loader.css.map */